		.accordionTabContentBox table{
			padding: 0; 
			font-size:12px;
			width:100%;
			background-color:#5a94ce;
		}

		.accordionTabContentBox table td { text-align:center; font-size:14px;}
		.accordionTabContentBox table tr { vertical-align:bottom; }
		#accordion1 {
		    border : 1px solid #ffffff;
    		margin-top:6px;
		}

		div.selected, div.hover {
			background-color:#6cc06c;
			color:#FFFFFF;
			font-weight:bold;
			height: 22px;
			padding-left: 5px;
		}

		.accordionTabTitleBar {
			background-color:#5A94CE;
  			color:#CED7EF;
  			height: 22px;
			font-weight : 'normal';
  			padding-left: 5px;
  			padding-top: 5px;
  			border-bottom:1px solid #182052;
  			border-style:solid none;
  			border-top:1px solid #BDC7E7;
  			border-width:1px 0px;
  			font-size:12px;
		}

		.accordionTabContentBox {
 	 		padding-left: 5px;
  			overflow: auto;
		}
