div.suggestions {
    background-color: #c5f7c5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;   
}

div.suggestions div {
	width:255px;
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current {
	width:255px;
    background-color: #6c94c0;
    color: white;
}